# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore compiled binaries or executables
*.exe
*.out
*.dll
*.so
*.dylib

# Ignore dependency management files
package-lock.json
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore backup and temporary files
*~
*.swp
*.bak

# Ignore macOS system files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db
